@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Manrope:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.navbar{
    display: flex ;
    justify-content: space-between;
    align-items: center;
   margin-right: 10px
}
.home{
    font-weight: 600;
}
.navbar2{
     display: flex;
     gap: 20px;
     justify-content: space-between;
     align-items: center;
}
.navbar-li{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    list-style-type: none;
}
.cart1{
    display: flex;
    

    
}
.header1{
    display: flex;
    margin-top: 100px;
    justify-content: space-between;
}

    
.header1 > div > img {
    max-width: 100%;
    height: auto;  
    display: block;  
    margin: 0 auto;
   
    padding-right: 0; 
}

.fresh-flowers{
    color: rgba(233, 90, 8, 1.00)
}

.our{
    color:  rgba(233, 90, 8, 1.00)
}
.our-plants{
    display: flex;
    flex-direction: column;
    
}
.flower-card-btn{
    color: white;
    background-color:  rgba(233, 90, 8, 1.00);
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
}
.flower-card>img{
    height: 150px;
}
.flower-cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
}
.flower-lover{
    display: flex;
    justify-content:space-between;
    margin-top: 200px;
     
}
.flower-lover>div>img{
    height: 300px;
   
}
.flower-lover-text{
    margin-left: 200px;
    
}
.flower{
    position: relative;
}

.trusted-badge{
    top: -440px;
    right: -50px;
}
.join-section{
    gap: 0;
}.join-section>img{
    width: 100%;
}
.join-section-input{
    width: 650px;
    height: 30px;
    border-radius: 5px;
    
}
.button{
    color: white;
    background-color:  rgba(233, 90, 8, 1.00);
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 300px;
    padding: 10px;
}
.join{
    position:relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.join-sec2{
    top: -250px;
}

footer{
    
    display: flex;
    justify-content: space-between;
}
.footer-ul{
    display: flex;
}
/* .footer-icons{
    display: flex;
    flex-direction: row;
} */






@media screen and  (max-width: 576px){
    .navbar-li{
        display: none;
    }
    .header1{
        display: flex;
        flex-direction: column-reverse;
        text-wrap: wrap;
    }
    .header1>div>img{
      
        height: 200px;
        width: 200px;
     
    }
    .flower-cards{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .flower-lover{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:start;
    }
    .trusted-badge{
        display: none;
    }
    /* .join-section>img{
        height: 300px;
        width: 300px;
    }
    .join-sec2{
        width:50px;
    } */
    .join{
    position:relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.join-sec2{
    top: -200px;
    right: 80px;
    
}
.join-section>img{
    height: 200px;
    width: 350px;
}
.join-email{
    width: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
footer{
    display: flex;
    flex-direction: column;
}
.footer-ul{
    display: flex;
    flex-direction: column;
}

}
    



























